/* Place CSS styles here */
button{
    background-color: blue;
    border-color: blue;
    color: antiquewhite;
  }
  button{
    background-color: blueviolet;
    border-color: darkgrey;
    border-radius: 6px;
color: antiquewhite;
  }
  button:hover{
    background-color: cadetblue;
        }